/* Common styles */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Light mode */
  body.light-mode {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .light-mode .card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode .card-title {
    color: #343a40;
  }
  
  .light-mode .modal-content {
    background-color: #ffffff;
    color: #343a40;
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
  }
  
  .dark-mode .card {
    background-color: #495057;
    border: 1px solid #6c757d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode .card-title {
    color: #f8f9fa;
  }
  
  .dark-mode .modal-content {
    background-color: #495057;
    color: #f8f9fa;
  }
  
  /* Blog card styles */
  .blog-card {
    margin-bottom: 20px;
  }
  
  .blog-card .card-body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .blog-card .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .card-title,
  .card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .ql-editor img {
    max-width: 100%;
    height: auto;
  }
  
  /* Toggle button */
  .toggle-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-mode .toggle-btn {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .dark-mode .toggle-btn {
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  /* Additional styles for Bootstrap classes */
  .card {
    border-radius: 0.5rem;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .modal-content {
    border-radius: 0.5rem;
  }
  